html{
    width:fit-content;
}
.container{
    background: url(assets/texture-background-picture-image_923116.jpg);
    width: 100%;
}

.translated-ltr{
    display: flex;
}
.caja{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 32px 0px;
    gap: 50px;
    margin-bottom: 2px;
}

.redes{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    gap: 208px;
    }

.imagen{
    flex: none;
    order: 1;
    flex-grow: 0;
}

.saludo{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 52px;
    line-height: 61px;
}
.copyright{
    text-align: center;
    padding: 40px;
    width: auto;
    height:auto;
}
.copyright{
    text-align: center;
    font-size: 130%;
    background: url(assets/bg.jpg);
    color: aliceblue;
    padding: 4%;
}
